@model VeganCounter.BLL.Dtos.VeganDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Email</h2>
<ul>
    <li>ID: @Model.Id</li>
    <li>Last Name: @Model.Country </li>
    <li>Last Name: @Model.City </li>
</ul>